$primeFontsize:14px;
$primeFontweight:400;
$primeFontfamily: 'Lato', sans-serif;
$primeColor: #222;
$primewidth:1142px;
$primeheight:1em;
$primeTextIndent:1em;
$primeBgColor:#fff;
$primeMargin:0 auto;
$primeBox:border-box;
$primeBgcLinear:linear-gradient(180deg, #f9f9f9 0%, #f5f5f5 100%);
$primeLineheight:20px;
$primeBorder: 1px solid #eaeaea;